
*{
    font-family: Futura,sans-serif;
}
/*Navbar stylings*/
.navbar, .navbar-nav .nav-link {
    color: white !important;  
    all: unset;
}
.container-fluid{
    background-color: #006989;
}
.btn-outline{
    border: 1px solid white;
}

.btn-outline:hover{
    background-color: white !important;
    color: black;
    
}
.navbar-dark{
	background-color: #006989 !important;
}
.icon-color{
    color: white;
    padding-top: 0.3rem;
}
.cart-item{
    display: flex;
   
}
.fa-user{
	color: white;
}
.main-container{
	display: flex;
	width: 100%;
}
.btn-dark{
    background-color: #006989 !important;
}
.icon-color{
    color: white;
    padding-top: 0.3rem;
}
.cart-item{
    display: flex;
	padding-right: 0.5rem;
   
}
.card-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.btn-primary{
    background-color: #006989;
    border-color: #006989;
    border-radius: 20px;
}

.btn-primary:hover{
    color: #006989;
    background-color: #FFFFFF;
    border-color: #006989;
}
.card{
    border: none;
}
.product-card{
    border: 1px solid #006989;
}
.product-img{
    width: 100%;
    height: 278px;
    object-fit: contain;
}
.card-body>p{
    margin-bottom: 0.4rem;
}
.quantity{
    width: 15%;
}
#Buynowbtn{
    display: flex;
    justify-content: center;
}
.card-body-text{
    margin-right: 10px !important;
}

.wishlist-container{
    display: grid;
    /* grid-template-columns: repeat(3 , 1fr); */
    padding: 20px;
    gap:30px;
}

.card .col-md-4{
    /* width: 90%; */
}

.card .product-img{
    padding: 12px;
}

@media (min-width: 576px) {
	.wishlist-container{
		grid-template-columns: repeat(2,1fr);
       
		
	}
    .card-btn{
        margin-top: 1rem;
        padding: 0px;
    }
    .product-img{
        object-fit: contain;
    }
    
	
}
@media (min-width: 768px) {
	.wishlist-container{
		grid-template-columns: repeat(2,1fr);
	}
    .card-btn{
        margin-top: 1rem;
        padding: 0px;
    }
    .product-img{
        object-fit: fill;
    }
}
@media (min-width: 1024px) {
	.wishlist-container{
		grid-template-columns: repeat(3,1fr);
	}
    .product-img{
        object-fit: fill;
    }
}
@media (min-width: 2000px) {
	.wishlist-container{
		grid-template-columns: repeat(4,1fr);
	}
    .product-img{
        object-fit: fill;

    }

}